/* root */

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}






/* reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* temp */
    /* border: 1px solid red; */
}

/* general */

body {

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    color: white;


}

h2 {

    font-size: 1.2em;
}

h3 {

    font-size: 0.8em;
}



img {

    width: 100%;
}

a {

    display: inline-block;
    text-decoration: none;
    color: white;
}

i {

    display: inline-block;
}


/* fonts */



.montserrat {
    font-family: "Montserrat", sans-serif;

    font-style: normal;
}

/* general */


body {
    font-family: "Montserrat", sans-serif;

    font-style: normal;
    background-color: var(--color-black);
    color: white;

}





/* ***** UTILITIES ***** */

/* display */

.d-block {

    display: block;
}

.d-none {

    display: none;
}

/* flex  */

.d-flex {

    display: flex;
}

.column {

    flex-direction: column;
}

.wrap {

    flex-wrap: wrap;
}

.jc-center {

    justify-content: center;
}


.jc-f-end {

    justify-content: flex-end;
}


.sp-between {

    justify-content: space-between;
}

.ai-center {

    align-items: center
}

/* spacer */

.gap-5 {

    gap: 5px;
}

.gap-10 {

    gap: 10px;
}

.gap-15 {

    gap: 15px;


}

.pd-top-10 {

    padding-top: 10px;
}

.pd-top-20 {

    padding-top: 20px;
}

.pd-bot-10 {

    padding-bottom: 10px;
}

.pd-bot-15 {

    padding-bottom: 15px;
}

.pd-bot-30 {

    padding-bottom: 30px;
}

.pd-bot-50 {

    padding-bottom: 50px;
}

.mg-bot-30
/* color bg and text */

.grey-text {

    color: grey;


}



/* content */

.container {

    background-color: var(--color-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.upper-content {

    background-color: var(--color-dark);

    height: calc(100vh - 100px);
    overflow-y: auto;


}

/* sidebar */

.sidebar {


    background-color: black;
    flex: 0 0 230px;
    padding: 15px;
    min-height: 300px;
    overflow: hidden;
    font-size: 1em;



}

.sidebar-top {

    height: calc(100% - 70px);

}


.sidebar a {

    color: grey;
}

.logo {

    width: 60%;
    height: auto;
}

.side-nav-top a,
.side-nav-bot li {

    padding: 5px;


}

.side-nav-top img {

    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

.side-nav-top ul li:first-child {

    display: none;
}

.side-nav-bot {

    overflow-y: scroll;
    overflow: hidden;
}


.side-nav-bot h5 {

    text-transform: uppercase;
    display: inline-block;
    color: white;


}

.side-nav-bot span {

    padding-left: 5px;
}


.side-nav-bot i {

    background-color: var(--color-lightgrey);
    padding: 5px;
    font-size: 1.5em;
    color: black;
}

.sidebar-bot {

    height: 70px;
    padding-top: 15px;
    background-color: black;
    position: relative;
    z-index: 500;
}

hr {

    width: 90%;
    border: 1px solid grey;
    margin-top: 10px;


}

.download {

    background-color: black;
    position: relative;
    z-index: 500;
}

.download img {

    width: 10px;
    vertical-align: middle;

}

.profile {

    background-color: black;
    position: relative;
    z-index: 500;
}

.profile div {

    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;


}

.profile img {

    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;

}

.profile b {

    font-size: 1.3em;
    padding-left: 10px;
    color: white;
}







/* main */

main {

    flex: 1 1 auto;
    overflow-y: auto;
    padding: 100px 20px 0 20px;
}

/* header */

.header {

    height: 70px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    background-color: black;
    opacity: 0.8;
    z-index: 3000;
    padding-right: 25px;


}

.header a {

    text-transform: uppercase;
    z-index: 5000;
    border: 1px solid white;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-size: 0.7em;

}

.header a:hover {

    transform: scale(1.2);




}

/* nav */

.main-nav {

    height: 10vh;
}

.main-nav ul {

    gap: 36px;
}

.main-nav a {

    color: grey;
    text-transform: uppercase;
    font-size: 0.7em;

}

nav>ul>li>::after {

    content: "";
    display: block;
    width: 25px;
    border: 2px solid green;
    margin: 2px auto;
    display: none;


}

nav li:hover,
nav a:hover,
nav span:hover {

    color: white;

}


.main-nav>ul>li>:hover:after {

    content: "";
    display: block;
    width: 25px;
    border: 2px solid green;
    margin: 2px auto;
    display: block;


}



/* recently */

.recently {

    gap: 15px;


}



.card {

    width: calc((100% - 75px) / 6);
}

.img-card {

    position: relative;

}



.img-card:hover img {

    opacity: 0.2;


}

.img-card:hover .play {

    display: block;
}

.play {

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;


}

.play:hover img {

    opacity: 0.2;
}





.text-card {

    width: 100%;
    text-align: center;
    white-space: wrap;
    text-overflow: ellipsis;
}

.text-card>div {

    font-size: 0.5em;
    color: grey;
}

/* made for you */

/* popular */



.popular img {

    border-radius: 50%;
    overflow: hidden;

}

/* playbar */

footer {

    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
    position: relative;
    z-index: 5000;
    padding: 10px;
    font-size: 0.7em;

}


footer i {

    color: white;
    cursor: pointer;

}

.footer-left,
.footer-right {

    width: 30vh;
}

.track-info {

    width: 150px;
    padding: 30px 15px 30px 15px;
}


.track-text {}

.sub-track {

    font-size: 0.6em;
}

.track-text h5 {

    font-size: 1.1em;
}



.track-action i {

    color: grey;
}


.footer-center {

    flex: 1 1 auto;
}

.f-center-actions {

    width: 15vw;
    padding-bottom: 15px;
}

.fa-circle-play {

    font-size: 2em;
}

.f-center-progress {

    width: 30vw;
}

.f-center-progress input[type="range"] {
    width: 400px;
}

.footer-right {

    justify-content: flex-end;
}

.f-right-actions {

    width: 20vw;
    justify-content: flex-end;
    padding-right: 30px;



}

.f-right-actions input[type="range"] {
    width: 50px;
}














/* ************* MEDIA QUERY START ************* */


/* large */







/* medium */

@media screen and (max-width:1440px) {}




@media screen and (max-width:878px) {

    /* nav */

    .main-nav {

        margin-bottom: 50px;
    }




    nav>ul {

        max-width: 100%;
        font-size: 1.3em;
    }

    /* card */



    .card {

        width: calc((100% - 75px) / 4);
    }

}






/* small */


@media screen and (max-width:639px) {

    /* card */



    .card {

        width: calc((100% - 75px) / 2);
    }
}


/* x-small */

/* *****after side bar***** */


@media screen and (max-width:552px) {

    main {

        display: flex;
    }

    .header {

        width: calc(100% - 50px);
        left: 50px;



    }

    /* sidebar */

    .sidebar {

        flex: 0 0 50px;
    }

    .d-none-552 {

        display: none;
    }

    .d-block-552 {

        display: block;
        color: white;
    }

    .download {

        display: flex;
        justify-content: center;

        position: relative;

    }

    /* nav */



    .main-nav ul {

        gap: 20px 10px;

    }

    /* footer */

    .track-action {

        flex-direction: column;
        justify-content: center;
    }









}