/* root */

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}






/* reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* temp */
    /* border: 1px solid red; */
}

/* general */

body {

    font-family: "Montserrat", sans-serif;

    font-style: normal;
    color: white;


}

a {

    display: inline-block;
    text-decoration: none;
    color: white;
}


/* fonts */



.montserrat {
    font-family: "Montserrat", sans-serif;

    font-style: normal;
}

/* general */


body {
    font-family: "Montserrat", sans-serif;

    font-style: normal;
    background-color: var(--color-black);
    color: white;

}





/* ***** UTILITIES ***** */

/* flex  */

.d-flex {

    display: flex;
}

.column {

    flex-direction: column;
}

.wrap {

    flex-wrap: wrap;
}

.jc-center {

    justify-content: center;
}


.jc-f-end {

    justify-content: flex-end;
}


.sp-between {

    justify-content: space-between;
}

.ai-center {

    align-items: center
}

/* spacer */

.gap-5 {

    gap: 5px;
}

.gap-15 {

    gap: 15px;


}



/* color bg and text */



/* content */

.container {

    background-color: var(--color-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.upper-content {

    background-color: var(--color-dark);

    height: calc(100vh - 100px);
    overflow-y: auto;


}

/* sidebar */

.sidebar {


    background-color: black;
    flex: 0 0 230px;
    /*asse row*/
}

/* main */

main {

    flex: 1 1 auto;
    overflow-y: auto;
    padding: 100px 20px 0 20px;
}

/* header */

.header {

    height: 70px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    background-color: black;
    opacity: 0.8;
    z-index: 3000;
    padding-right: 5px;





}

.header a {

    text-transform: uppercase;
    z-index: 5000;
    border: 1px solid white;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-size: 0.7em;



}

/* nav */

nav ul {

    gap: 36px;
}

nav a {

    color: grey;
    text-transform: uppercase;
    font-size: 0.7em;

}

nav>ul>li>::after {

    content: "";
    display: block;
    width: 25px;
    border: 2px solid green;
    margin: 2px auto;
    display: none;

}



/* recently */



/* playbar */

footer {

    background-color: #282828;
    flex: 0 0 100px;
}












/* ************* MEDIA QUERY START ************* */

/* large */

@media screen and (max-width:1200px) {}

/* medium */


@media screen and (max-width:878px) {

    nav>ul {

        max-width: 100%;
        font-size: 1.3em;
    }
}




/* small */


@media screen and (max-width:639px) {

    nav>ul {

        font-size: 1.3em;
    }
}


/* x-small */


@media screen and (max-width:552px) {}